<div class="d-flex flex-wrap flex-container">
  {{#each details as |file|}}
      <div class="file-container">
        <div class="thumbnail-container">
          <img class="file-thumbnail" src="{{file._thumbnailBase64}}"/>
        </div>
        <div class="file-meta-container">
          <div>
            <img src="{{file.iconLink}}" class="file-icon"/> <a href="https://docs.google.com/{{file._typeForUrl}}/d/{{file.id}}/edit">{{file.name}}{{fa-icon "external-link-alt" class="external-icon" fixedWidth=true}}</a>
          </div>
          <div>
            <span class="file-meta">Last modified by {{file.lastModifyingUser.displayName}}</span>
          </div>
          {{!--
          <img class="last-updated-photo" src="{{file.lastModifyingUser.photoLink}}"/>
          --}}
        </div>
      </div>
  {{/each}}
</div>
