<span class="p-title">{{fa-icon "file" fixedWidth=true}} Files</span>
{{#each details as |file|}}
    <div class="file">
        {{fa-icon file._icon class="doc-type" fixedWidth=true}}<a href="https://docs.google.com/{{file._typeForUrl}}/d/{{file.id}}/edit">{{file.name}}{{fa-icon "external-link-alt" class="external-icon" fixedWidth=true}}</a>
    </div>
{{/each}}
